pipeline/Parent_Pipeline.json
{
	"name": "Parent_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteOnPrem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OnPrem_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteAPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnPrem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLToDatalake_Incremental",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://mclogicapp.azurewebsites.net:443/api/alerts/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=RROjMnbPSfGa8GTpugPeB1ziQ1q0c7BV27f4hR-yUW0",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('ExecuteIncremental').Status}\",\n    \"error\": \"@{activity('ExecuteIncremental').output.error}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "dataset_fashion_store_campaigns.csv"
					},
					{
						"file_name": "dataset_fashion_store_channels.csv"
					},
					{
						"file_name": "dataset_fashion_store_customers.csv"
					},
					{
						"file_name": "dataset_fashion_store_products.csv"
					},
					{
						"file_name": "dataset_fashion_store_sales.csv"
					},
					{
						"file_name": "dataset_fashion_store_salesitems.csv"
					},
					{
						"file_name": "dataset_fashion_store_stock.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-11T21:06:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}